
@model SSO.Models.CookieConsentViewModel


<div id="cookieConsent">
    <div class="text-center">

        @*<input type="checkbox" id="input1" />
        <label for="input1">Tick it</label>
        <br />
        <input type="checkbox" id="input2" />
        <label for="input2">Tick it</label>
        <br />
        <input type="checkbox" id="input3" />
        <label for="input3">Tick it</label>
        <br />*@

        <br />
        Our website uses cookies to improve your experience. By continuing to browse the site, you are agreeing to our use of cookies.
        <br />
        @Html.ActionLink("I Agree", "Login", "Home")
        @Html.ActionLink("I Disagree", "SignOut", "Home")
    </div>

    <script>
       
    </script>


</div>